body {

}
.container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* card */
.card-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: rgb(184, 255, 188);
  height: 100%;
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 3px rgb(160, 160, 160), 0 0 1px rgba(0, 0, 0, 0.3);
}
.card-container:hover {
  box-shadow: -1px -1px 2px rgb(170, 170, 170), 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: rgb(179, 97, 97);
  color: #fff;
  position: relative;
  top: 2px;
}
.content {
  display: flex;
}
.icon {
  width: 45px;
  height: 45px;
  padding-top: 5px;
}
.card-content {
  display: flex;
  flex-direction: column;
}
.card-header {
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
}
.card-description {
  font-size: 10px;
  padding: 0 5px 5px;
}

/* footer */
footer {
  height: 100%;
  margin-top: 7px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
a {
  font-size: 10px;
  text-decoration: none;
  color: #000;
  padding-left: 10px;
}
.arrow {
  width: 13px;
  height: 13px;
  transform: rotate(45deg);
  color: #000;
  justify-self: end;
}
a:hover, .arrow:hover {
  color: #fff;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}